:root {
    --color-primari: #3a5a40;
    --color-secundari: #588157;
    --color-terciari: #a3b18a;
    --color-fons: #f8f9fa;
    --color-text: #2b2d42;
    --color-destacat: #d4a373;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  
.formulari {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
  }
  
.formulari label {
    display: block;
    margin-bottom: 10px;
  }
  
  .formulari input[type="text"],
  .formulari input[type="email"],
  .formulari textarea {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-sizing: border-box; 
  }
  
  .formulari textarea {
    height: 150px;
    resize: vertical;
  }
  
  .formulari button[type="submit"] {
    background-color: #c4966a;
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 8px;
  }
  